<launch>

    <node name="maincontroller" pkg="scalecar" type="main_con.py" output="screen"/>
    <node name="child_sign" type="child_sign.py" pkg="scalecar" output="screen"/>    
  
  <!-- usb_cam, lidar, joystick turn on launch -->
  <include file="$(find racecar)/launch/teleop.launch"/>
  
  <include file="$(find aruco_detect)/launch/aruco_detect.launch" />    
  
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>
    
  <node name="image_rect_color_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_rect_color"/>
    <param name="autosize" value="true" />
  </node>
    
</launch>
